@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

:host {
  display: block;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: $spacing-xl;
  align-items: stretch;

  > div {
    display: flex;
  }

  @include mobile {
    grid-template-columns: 1fr;
    gap: $spacing-lg;
  }

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }
}
